---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSlider from '../components/HeroSlider.astro';
import About from '../components/about.astro';
import Chart from '../components/Chart.astro';
import Directory from '../components/Directory.astro';
import News from '../components/News.astro';
import Galery from '../components/Galery.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SPBE Kab.Bandung | Beranda">
  <main>
    <Navigation />
    <HeroSlider />
    <About />
    <Chart />
    <Directory />
    <News />
    <Galery />
  </main>
</Layout>