---
import CombinedRadarChart from '../components/chart/CombinedRadarChart.jsx';

---

<section class="py-20 bg-white">
  <div class="max-w-5xl mx-auto px-4 text-center">
    <h2 class="text-3xl font-bold mb-6">Perbandingan Indeks SPBE (2021–2024)</h2>
    <CombinedRadarChart client:load/>
  </div>
</section>
