---
const locations = [
  { id: 1, 
    title: "Munara 99 Sabilulungan", 
    subtitle: "Monumen Representatif Wilayah Kab. Bandung", 
    bgImage: "/images/Menara-Sabilulungan.png", 
    cardImage: "/images/Menara-Sabilulungan.png",
    mapsUrl: "https://maps.app.goo.gl/274Ry9uEyRmVeubF8"
  },
  { id: 2, 
    title: "Gedong Budaya Soreang", 
    subtitle: "Gedung Representatif untuk Kegiatan Seni dan Budaya", 
    bgImage: "/images/gbs.jpg", 
    cardImage: "/images/gbs.jpg",
    mapsUrl: "https://maps.app.goo.gl/Rb99aguasL2Xw92GA"
  },
  { id: 3, 
    title: "Stadion Si Jalak Harupat",
    subtitle: "Pusat Kegiatan Olahraga Kabupaten Bandung", 
    bgImage: "/images/jalak.png", 
    cardImage: "/images/jalak.png",
    mapsUrl: "https://maps.app.goo.gl/prdPcpZ8DC6CWZrK7"
  },
  { id: 4, 
    title: "Kawah Putih", 
    subtitle: "Destinasi Geowisata di Bandung Selatan", 
    bgImage: "/images/kawah.png", 
    cardImage: "/images/kawah.png",
    mapsUrl: "https://maps.app.goo.gl/jt7CqLKRztd8cLVz9"
  },
];
---
<div 
  id="hero-slider-container"
  data-locations={JSON.stringify(locations)}
  class="relative w-full h-screen bg-cover bg-center transition-all duration-700"
>
  <div class="absolute inset-0 bg-black/40"></div>
  <div class="relative z-10 h-full flex flex-col justify-between p-8 md:p-16 text-white overflow-hidden">
    <div class="flex-grow flex items-center">
      <div class="w-full md:w-2/3">
        <div class="flex items-center gap-2 mb-2">
          <a id="hero-maps-link" href="#" target="_blank" class="text-white hover:text-red-400 transition" aria-label="Buka di Google Maps">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:w-6 md:h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c1.104 0 2-.896 2-2s-.896-2-2-2-2 .896-2 2 .896 2 2 2zm0 9s-6-5.686-6-10a6 6 0 1112 0c0 4.314-6 10-6 10z"/>
            </svg>
          </a>
        </div>
        <h2 id="hero-title" class="text-4xl md:text-4xl font-bold uppercase"></h2>

        <p id="hero-subtitle" class="text-2xl md:text-2xl"></p>
      </div>
    </div>
    <section id="image-carousel" class="splide w-full md:w-2/3 ml-auto" aria-label="Image Carousel">
      <div class="splide__track">
        <ul class="splide__list">
          {locations.map((location) => (
            <li class="splide__slide">
              <div 
                class="w-40 h-56 bg-cover bg-center rounded-lg cursor-pointer"
                style=`background-image: url('${location.cardImage}')`
              ></div>
            </li>
          ))}
        </ul>
      </div>
    </section>
  </div>
</div>

<script src="../slider-init.js"></script>